.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--app-material-500);

  .header__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.4rem;
    border-bottom: 1px solid #e5e7eb;

    .header__logo {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: -0.05em;
    }

    .header__categories {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 500;
      color: #374151;
      cursor: pointer;
      transition: color 0.2s ease;
      gap: 2rem;

      &:hover {
        color: #000000;
      }

      .header__category {
        font-size: 0.875rem;
        font-weight: 500;
        color: #374151;

        transition: color 0.2s ease-in-out;

        &:hover {
          color: #000000;
        }

      }
    }

    .header__actions {
      display: flex;
      gap: 1.2rem;

      em {
        font-size: 1.25rem;
        //color: theme-palette-color('alias', sale);
      }

    }

  }

  .header__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0.6rem 1.2rem;
    //background-color: theme-palette-color('grays', 300);
    border-bottom: 1px solid #e5e7eb;

    .header__info-item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;
      font-weight: 500;
      color: #4b5563;
      white-space: nowrap;
    }

  }

}
